@tailwind base;
@tailwind components;
@tailwind utilities;


.text-primary {
  @apply !text-[#333333];
}

.header-bg-color {
  @apply bg-white;
}

.bg-primary {
  @apply bg-primary-light;
}

.button-primary-1 {
  @apply bg-primary-dark text-[#ffffff] px-3 py-2 rounded-md hover:bg-primary-dark/80;
}

.button-primary-2 {
  @apply bg-[#FBEAC6] text-[#4A3020] px-3 py-2 rounded-md hover:bg-[#FBEAC6]/80 font-semibold;
}


.button-light {
  @apply border border-primary-dark text-primary-dark px-3 py-2 bg-white rounded-md hover:bg-primary-light;
}


@keyframes rainbow-text {
  0%,100% { color: white; }
  33% { color: rgb(255, 219, 142); }
  66% { color: rgb(255, 179, 37); }
}

.rainbow-text-animation {
  animation: rainbow-text 3s linear infinite;
}

input[type="file"] {
  display: none;
}